<header>
    <h1>GameBite</h1>
    <nav>
        <a routerLink="/">Início</a>
        <span>|</span>
        <a href="#footerAbout">Sobre nós</a>
        <span>|</span>
        <a href="#footerTurma">Turma</a>
        <span>|</span>
        <a href="#footerIntegrantes">Integrantes</a>
        <span>|</span>
        <a routerLink="/">Jogos</a>
    </nav>
    <div class="headerImage"></div>
</header>

<main>
    <section class="receitas">

<!-- Cookie -->

        <article class="card">
            <div class="logo">
                <img src="/assets/menuReceitas/StardewValley/stardewvalleyIcon.jpg" alt="Stardew Valley"/>
            </div>
            <img src="/assets/menuReceitas/StardewValley/sopaDeAboboraIcon.jpg" alt="Sopa de Abóbora" />
            <div class="info">
                <h2>Sopa de Abóbora</h2>
                <p>
                    A sopa de abóbora é um prato quente e reconfortante. 
                    Feita com ingredientes frescos da fazenda, é perfeita para recuperar 
                    energia após um longo dia de trabalho.
                </p>
            </div>
        </article>

<!-- Bolo -->

        <article class="card">
            <div class="logo">
                <img src="/assets/menuReceitas/StardewValley/stardewvalleyIcon.jpg" alt="Stardew Valley"/>
            </div>
            <img src="/assets/menuReceitas/StardewValley/fruitSaladIcon.jpg" alt="Salada de Frutas" />
            <div class="info">
                <h2>Salada de Frutas</h2>
                <p>
                    A salada de frutas é uma receita refrescante feita com diferentes 
                    frutas cultivadas na fazenda. Colorida e nutritiva, é uma ótima 
                    opção para restaurar energia de forma leve.
                </p>
            </div>
        </article>

        <!-- Pão -->

        <article class="card">
            <div class="logo">
                <img src="/assets/menuReceitas/StardewValley/stardewvalleyIcon.jpg" alt="Stardew Valley"/>
            </div>
            <img src="/assets/menuReceitas/StardewValley/omeleteIcon.jpg" alt="Omelete" />
            <div class="info">
                <h2>Omelete</h2>
                <p>
                    A omelete é uma receita simples preparada com ovos frescos da fazenda. 
                    Nutritiva e rápida de fazer, é perfeita para manter o fazendeiro 
                    cheio de energia durante as atividades do dia.
                </p>
            </div>
        </article>

        <!-- Torta -->

        <article class="card">
            <div class="logo">
                <img src="/assets/menuReceitas/StardewValley/stardewvalleyIcon.jpg" alt="Stardew Valley"/>
            </div>
            <img src="/assets/menuReceitas/StardewValley/panquecaIcon.jpg" alt="Panquecas" />
            <div class="info">
                <h2>Panquecas</h2>
                <p>
                    A panqueca é um café da manhã clássico na fazenda. 
                    Feita com ingredientes simples, ela é um prato saboroso que 
                    fornece bastante energia para começar o dia.
                </p>
            </div>
        </article>
    </section>
</main>

<!-- FOOTER -->
    <footer class="footerDoSite" id="footer">
        <section class="about" id="footerAbout">
            <h3>Sobre Nós</h3>
            <p>
                A GameBite é pra quem ama games e quer levar essa paixão pra cozinha.
                Aqui você encontra receitas inspiradas nos seus jogos favoritos pra
                finalmente provar aquelas comidas que sempre deram vontade.
                Bora matar a nostalgia, testar coisas novas e transformar o mundo gamer
                em algo real e delicioso!
            </p>
        </section>
        <section class="turma" id="footerTurma">
            <h3>Nossa Turma</h3>
            <p>
                Centro Universitário Cesumar <br><br>
                Engenharia de Software <br><br>
                ESOFT B Noturno
            </p>
        </section>
        <section class="integrantes" id="footerIntegrantes">
            <h3>Desenvolvedores do Site</h3>
            <p>
                Jean Carlos Siqueira dos Santos <br><br>
                Leonardo Schimock Silveira <br><br>
            </p>
        </section>
    </footer>