<header>
    <h1>GameBite</h1>
    <nav>
        <a routerLink="/">Início</a>
        <span>|</span>
        <a href="#footerAbout">Sobre nós</a>
        <span>|</span>
        <a href="#footerTurma">Turma</a>
        <span>|</span>
        <a href="#footerIntegrantes">Integrantes</a>
        <span>|</span>
        <a routerLink="/">Jogos</a>
    </nav>
    <div class="headerImage"></div>
</header>

<main>
    <section class="receitas">
        <!-- Cookie -->

        <a href="/assets/receitas/html/Minecraft/cookie.html" class="card-link">
        <article class="card">
            <div class="logo">
            <img
                src="/assets/menuReceitas/assets/Images/Minecraft/minecraftLogo.jpg"
                alt="Minecraft"
            />
            </div>

            <img src="/assets/menuReceitas/assets/Images/Minecraft/cookieIcon.jpg" alt="Cookie" />
        </article>
        </a>

        <!-- Bolo -->

        <a href="/assets/receitas/html/Minecraft/bolo.html" class="card-link">
        <article class="card">
            <div class="logo">
            <img
                src="/assets/menuReceitas/assets/Images/Minecraft/minecraftLogo.jpg"
                alt="Minecraft"
            />
            </div>

            <img src="/assets/menuReceitas/assets/Images/Minecraft/cakeIcon.jpg" alt="Bolo" />
        </article>
        </a>

        <!-- Pão -->

        <a href="/assets/receitas/html/Minecraft/bread.html" class="card-link">
        <article class="card">
            <div class="logo">
            <img
                src="/assets/menuReceitas/assets/Images/Minecraft/minecraftLogo.jpg"
                alt="Minecraft"
            />
            </div>

            <img src="/assets/menuReceitas/assets/Images/Minecraft/breadIcon.jpg" alt="Pão" />
        </article>
        </a>

        <!-- Torta -->

        <a href="/assets/receitas/html/Minecraft/torta.html" class="card-link">
        <article class="card">
            <div class="logo">
            <img
                src="/assets/menuReceitas/assets/Images/Minecraft/minecraftLogo.jpg"
                alt="Minecraft"
            />
            </div>

            <img src="/assets/menuReceitas/assets/Images/Minecraft/pieIcon.jpg" alt="Torta" />
        </article>
        </a>
    </section>
</main>
